<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior" name="Week4.Academy.Test.WCF.CustomerService">
                <endpoint address="http://localhost:7780" binding="basicHttpBinding"
                    bindingConfiguration="" contract="Week4.Academy.Test.WCF.ICustomerService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:7780" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>